h1{
    color: aliceblue;
    text-align: center;
    margin-left: 30px;
    font-style: inherit;

}


body{
    background-color: rgb(26, 24, 24);

}
button{
    color:rgb(248, 242, 242);
    height: 1.5cm;
    padding: 2px;
    font-size: 27px;
    width: 60px;
    box-shadow: 5px;
    background: rgb(63, 61, 61)  
}




button:link {
    color: rgb(14, 132, 243);
   
    text-decoration: none;
  }
 
  
  
  button:hover {
    color: rgb(150, 114, 56);
   background-color: aquamarine;
  }
    button:active {
        color: rgb(197, 142, 55);
        background-color: green;
  }





.W{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}
.Q{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}


.R{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.T{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.Y{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.U{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.I{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.O{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.P{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45);
    
    
}.A{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45);
    margin-left: 28px;
    
}.S{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.D{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.F{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.G{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.H{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.J{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.K{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.L{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.ENTER{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 60px;
    box-shadow: 5px;
    background: rgb(4, 247, 45);
    margin-left: 8px;
    
}.Q{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45);
    
    
    
}.Z{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.X{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.C{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.V{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.B{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.N{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.M{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.Delete{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 60px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}.Q{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45);
    
    
}.W{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}
.E{
    color:rgb(8, 1, 1);
    height: 1.3cm;
    border-radius:4px ;
    font-size: 10px;
    width: 40px;
    box-shadow: 5px;
    background: rgb(4, 247, 45)
    
}
.keypad{
    margin-left: 550px;
    padding: 7px;
    height: 20px;
    
}
.keyboard
{
    
    padding: 5px;
    margin-left: 615px;
}
.op{
    color:rgb(8, 1, 1);
    height: 1.5cm;
    border-radius:4px ;
    font-size: 10px;
    width: 60px;
    box-shadow: 5px;
    background: gray ;
    

}
