body{
    background-color: rgb(26, 24, 24)
}
.row
{
    padding: 2px;
}
button{
    color:rgb(248, 242, 242);
    height: 1.5cm;
    
    font-size: 27px;
    width: 55px;
    box-shadow: 5px;
    background: rgb(63, 61, 61)  


}
button:link {
    color: rgb(14, 132, 243);
   
    text-decoration: none;
  }
 
  
  
  button:hover {
    color: rgb(150, 114, 56);
   background-color: aquamarine;
  }
    button:active {
        color: rgb(197, 142, 55);
        background-color: green;
  }




