.op{
    color:rgb(255, 251, 251);
    height: 1.9cm;
    padding: 10px;
    font-size: 45px;
    width: 65px;
    box-shadow: 5px;
    background: rgb(94, 86, 86)  ;
    margin-right: 8px;
    border: 0px;
}

.row {
    margin-bottom: 8px;
}

.orange {
    background-color: #b59f3b;
}

.green {
    background-color: #538d4e;
}

.black {
    background-color: rgb(51, 51, 51);
}

.A {
    margin-left: 21px;
}
#ENTER {
    width: auto;
    margin-right: 10px;
}
.key {
    color:rgb(8, 1, 1);
    height: 1.5cm;
    border-radius:4px ;
    font-size: 15px;
    width: 45px;
    box-shadow: 5px;
}
h1{
    color: rgb(70, 100, 126);
    text-align: center;
    margin-left: 30px;
    font-style: inherit;

}
body{
    background-color: black;
}
.Delete{
    color:rgb(8, 1, 1);
    height: 1.5cm;
    border-radius:4px ;
    font-size: 15px;
    width: 70px;
    box-shadow: 5px;
    margin-right: 20px;

}
.keyboard
{

    padding: 10px;
    margin-left:615px;
}
.keypad
{
    
    margin-left: 550px;
}