body{
    background-color: black
}
.two{
    padding: 4px;
    margin-left: 10px;

}
.row{
    height: 36px;
    width: 100%;
}
button{
    color:white;
    height: 1cm;
    border-radius:4px ;
    font-size: 10px;
    width: 30px;
    box-shadow: 5px;
    background: gray
    
}
.ENTER{
    width: 45px;
    font-size: 9px;
}
.Delete{
    width: 45px;
    font-size: 9px;
}
.one
{
    margin-right: 4px;
}
